body{
    margin: 0;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sliderContainer{
        position: relative;
        width: 500px;
        overflow: hidden;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
      
.imageContainer{
  display: flex;
  transition: transform 0.4s ease-in-out;

}
button{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}
.leftBtn{
    left: 10px;
}
  
.rightBtn{
  right: 10px;

}
  
  button:hover {
  opacity: 1;
  }